{% extends 'rds/base.html' %}

{% block subheader %}Instances{% endblock %}

{% block rds_body %}
<table class='table table-hover sortable'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Engine</th>
        <th>Multi AZ</th>
    </tr>
    </thead>
{% for instance in instances %}
    <tbody>
    <tr>
        <td><a href='/rds/instances/{{ instance.DBInstanceIdentifier }}'>{{ instance.DBInstanceIdentifier }}</a></td>
        <td>{{ instance.Engine }} {{ instance.EngineVersion }}</td>
        <td>{{ instance.MultiAZ }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
