{% extends 'ec2/base.html' %}

{% block extra_head %}
{% endblock %}

{% block subheader %}Instances{% endblock %}

{% block ec2_body %}
<table class='table table-hover sortable'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Environment</th>
        <th>State</th>
        <th>Instance ID</th>
    </tr>
    </thead>
    <tbody>
{% for instance in instances %}
    <tr>
        <td><a href='/ec2/instances/{{ instance.id }}'>{{ instance.name }}</a></td>
        <td>{{ instance.env }}</td>
        <td class='{% if instance.state == 'running' %}success{% elif instance.state == 'stopped' %}active{% else %}danger{% endif %}'>{{ instance.state }}</td>
        <td>{{ instance.id }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
