{% extends 'ec2/base.html' %}
{% block subheader %}Instance{% endblock %}

{% block ec2_body %}
<div class="row">
<h2>{{ instance.tags.Name }} <small>{{ instance.tags.Environment }}</small></h2>
</div>
<div class="row">
    <form action="" method="post">
        {% csrf_token %}
    
        {% if instance.state == 'running' %}
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to reboot {{ instance.tags.Environment|upper }} {{ instance.tags.Name }}?');" name="_reboot">Reboot</button>
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to shutdown {{ instance.tags.Environment|upper }} {{ instance.tags.Name }}?');" name="_shutdown">Shutdown</button>
        {% else %}
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to start {{ instance.tags.Environment|upper }} {{ instance.tags.Name }}?');" name="_start">Start</button>
        {% endif %}
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to terminate {{ instance.tags.Environment|upper }} {{ instance.tags.Name }}?');" name="_terminate">Terminate</button>
    </form>
</div>
<div class="row">
    <h3>AWS Details</h3>
    <table class="table table-hover">
        <tr><th>Name</th><td>{{ instance.tags.Name }}</td></tr>
        <tr><th>Environment</th><td>{{ instance.tags.Environment }}</td></tr>
        <tr><th>State</th><td class='{% if instance.state == 'running' %}success{% elif instance.state == 'stopped' %}active{% else %}danger{% endif %}'>{{ instance.state }}</td></tr>
        <tr><th>Instance Type</th><td>{{ instance.instance_type }}</td></tr>
        <tr><th>Architecture</th><td>{{ instance.architecture }}</td></tr>
        <tr><th>SSH Key</th><td>{{ instance.key_name }}</td></tr>
        <tr><th>Public IP</th><td>{{ instance.ip_address }}</td></tr>
        <tr><th>Private IP</th><td>{{ instance.private_ip_address }}</td></tr>
        <tr><th>Public DNS</th><td>{{ instance.public_dns_name }}</td></tr>
        <tr><th>Private DNS</th><td>{{ instance.private_dns_name }}</td></tr>
    </table>
</div>


{% endblock %}
