{% extends 'route53/base.html' %}
{% block subheader %}Zone{% endblock %}
{% load humanize %}

{% block route53_body %}
<div class="row">
    <h2>{{ zone.Name }}</small></h2>
</div>

<div class="row">
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete {{ zone.Name }}?');" name="_delete">Delete Hosted Zone</button>
    </form>
</div>

<div class="row">
    <h3>Zone Details</h3>
    <table class="table table-hover">
        <tr><th>Name</th><td>{{ zone.Name }}</td></tr>
    </table>
</div>
<div class="row">
    <h3>Records</h3>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
            <th>TTL</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.name }}</td>
            <td>{{ record.type }}</td>
            <td>{{ record.to_print }}</td>
            <td>{{ record.ttl }}</td>
        </tr>
        {% endfor %}
    <tbody>
    </table>
</div>
<div class="row">
    <h3 name='clone_hosted_zone'>Clone Hosted Zone</h3>
    <form action="" method="post">{% csrf_token %}
    <table class='table'>
    {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td><td>{{ field }}</td><td>{{ field.errors }}</td>
        </tr>
    {% endfor %}
    <td></td><td><input class='btn btn-primary' type="submit" value="Submit" /></td>
    </table>
    </form>
</div>


{% endblock %}
