{% extends 'sqs/base.html' %}

{% block subheader %}Queues{% endblock %}

{% block sqs_body %}
<table class='table table-hover'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Message Count</th>
        <th>In Flight</th>
    </tr>
    </thead>
{% for queue in queues %}
    <tbody>
    <tr>
        <td><a href='/sqs/queue/{{ queue.name }}'>{{ queue.name }}</a></td>
        {% if queue.attrib %}
        <td>{{ queue.attrib.ApproximateNumberOfMessages }}</td>
        <td>{{ queue.attrib.ApproximateNumberOfMessagesNotVisible }}</td>
        {% else %}
        <td colspan=2>Attribute collection error</td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>
<div class="row">
    <h3>Add Queue</h3>
    <form action="/sqs/queue/" method="post">{% csrf_token %}
    <table class='table'>
    {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td><td>{{ field }}</td><td>{{ field.errors }}</td>
        </tr>
    {% endfor %}
    <td></td><td><input class='btn' type="submit" value="Submit" /></td>
    </table>
    </form>
</div>

{% endblock %}
