{% extends 'sqs/base.html' %}

{% block subheader %}Queues{% endblock %}

{% block sqs_body %}
<table class='table table-hover'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Message Count</th>
        <th>In Flight</th>
    </tr>
    </thead>
{% for queue in queues %}
    <tbody>
    <tr>
        <td><a href='/sqs/queue/{{ queue.name }}'>{{ queue.name }}</a></td>
        {% if queue.attrib %}
        <td>{{ queue.attrib.ApproximateNumberOfMessages }}</td>
        <td>{{ queue.attrib.ApproximateNumberOfMessagesNotVisible }}</td>
        {% else %}
        <td colspan=2>Attribute collection error</td>
        {% endif %}
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
